body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin:auto;
    background: url("/img/img1.jpg") 0 no-repeat fixed;

}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #801a1a ;
    position: fixed;
    top: 0;
    width: 100%;
}

header ul li {
    float: left;
}

header ul li a {
    display: flex;
    color: white;
    padding: 20px;
    text-decoration: none;
}
/* START MAIN */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding-top: 3%;
}
/* END MAIN */

/*START Newdelhi Accueil*/
.main #newdelhi{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:0;
    padding-top: 3%;
    background: url("/img/img2.jpg") 0 no-repeat fixed;
    width:auto;
    height: 700
}
.main #newdelhi p,h3,h4,a,strong{
    margin: auto;
}

/*END NEWDELHI Accueil*/

/* image promo*/
.promo{
    margin:0% 2%;
    width:0;
    padding: 0;
}
/* image promo*/
/* Galerie*/
 .main #galerie{

    display: flex;
     flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin:0;
    padding-top: 3%;
    width: 100%;
    height: 100%;
     background: url("/img/img3.jpg") no-repeat fixed;
}

/* END GALERIE */

/* Start MENU */
.main #menu{

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin:0;
    padding-top: 3%;
    width: 100%;
    height: 100%;
    background: url("/img/img4.jpg") 0 no-repeat fixed;
}
/* END MENU */

/* Start MENU */
.main #contact{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    padding-top: 3%;
    width: 100%;
    height: 100%;
    background: url("/img/img5.jpg") 0 no-repeat fixed;
}
.main #contact p,i,a,iframe{
    margin: auto;
}
/* END MENU */

/* START MAP */
.main #mapp{
    width: 70%;
    height: 500px;
}
/* END MAP */
/*footer*/
.footer{
    display: flex;
    align-content: center;

}
.footer .contenaur a{
    align-content: center;
}

/*footer*/
