body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin:auto;
    background: url("../img/img5.jpg") 0 no-repeat fixed;

}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #801a1a ;
    position: fixed;
    top: 0;
    width: 100%;
}

header ul li {
    float: left;
}

header ul li a {
    display: flex;
    color: white;
    padding: 20px;
    text-decoration: none;
}
/* START MAIN */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding-top: 3%;
}
/* END MAIN */

/*START Newdelhi Accueil*/
.main #newdelhi{

   display: flex;
     flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin:0;
    padding-top: 10%;
    padding-bottom: 25%;


    width: 100%;
    height: 100%;

}
.main #newdelhi p,h3,h4,a,strong{
    margin: auto;
}

/*END NEWDELHI Accueil*/

/* image promo*/
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* image promo*/
/* Galerie*/
 .main #galerie{

    display: flex;
     flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin:0;
    padding-top: 9%;
    padding-bottom: 20%;
    width: 100%;
    height: 100%;
    background: url("../img/img3.jpg") no-repeat fixed;
}

/* END GALERIE */

/* Start MENU */
.main #menu{

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin:0;
    padding-top: 10%;
    padding-bottom: 20%;
    width: 100%;
    height: 100%;
    background: url("../img/img4.jpg") 0 no-repeat fixed;
}
/* END MENU */

/* Start MENU */
.main #contact{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    padding-top: 10%;
    padding-bottom: 20%;
    width: 100%;
    height: 100%;

}
.main #contact p,i,a,iframe{
    margin: auto;
}
/* END MENU */

/* START MAP */
.main #mapp{
    width: 70%;
    height: 500px;
    padding-top: 02%;


}
/* END MAP */
/*footer*/
.footer{

    align-content: center;
    padding-top: 2%;
    padding-bottom: 0%;
    color:hsl(0, 100%, 95%);


}
div .footer .contenaur p {
    align-content: center;
    text-align: center;
    margin: auto;


}

/*footer*/@media scren and (max-widh:1280px)
{
    body{
        display: :none;
        width: auto;
    }
}
